<p>Respected {{NAME}},</p>
<p><br /></p>
<p>Sincere Greetings from ApplyKoro.Com.</p>
<p><br /></p>
<p>Your primary application has been evaluated and you have been selected for the next procedure of the entrance test by the Army Institute of Business Administration - Army IBA authority.
</p>
<p><br /></p>
<p>Please make a payment via the admission portal within the next 48 hours to confirm your participation in the entrance examination.
</p>
<p><br /></p>
<p>Payment Portal:<a href="https://joinarmyiba.com/pay">https://joinarmyiba.com/pay</a></p>
<p>Your Application ID: {{ID}}</p>
<p>Paying Amount: 1000 BDT</p>
<p>Payment Status: Incomplete</p>
<p><br /></p>
<p>To learn more about your next steps, please go to the admission portal's circular page.</p>
<p><br /></p>
<p>Best of luck on your onward destination!</p>
<p><br /></p>
<p>Thanks,</p>
<p>ApplyKoro.Com Team</p>
<p>Through ED Limited</p>
