<p>Respected {{NAME}},</p>
<p><br></p>
<p>Sincere Greetings from ApplyKoro.Com.</p>
<p><br></p>
<p>Your primary application for the Army Institute of Business Administration - BAUST Khulna entrance examination was successfully submitted to the authority.</p>
<p><br></p>
<p>Admission Portal: https://joinarmyiba.com</p>
<p>Your Application ID: {{ID}}</p>
<p>Application Status: Submitted for Review</p>
<p><br></p>
<p>To learn more about your next steps, please go to the admission portal's circular page.</p>
<p><br></p>
<p>Best of luck on your onward destination!</p>
<p><br></p>
<p>Thanks,</p>
<p>ApplyKoro.Com Team</p>
<p>Through ED Limited</p>