{% extends "admin/change_list.html" %} {% block object-tools-items %}
{{block.super }} {% if request.user.is_superuser %}
<li>
  <a
    href="download-all-csv/?{{ request.GET.urlencode }}"
    style="background-color: rgba(67, 69, 145, 0.705)"
    >Export All as CSV</a
  >
</li>
{%endif%} {% if perms.application.change_application %}

<li>
  <a
    href="send-payment-reminder/"
    style="background-color: rgba(69, 69, 8, 0.705)"
    >Remind Students About Payment</a
  >
</li>
<li>
  <a
    href="send-payment-reminder/guardian/"
    style="background-color: rgba(103, 188, 209, 0.705)"
    >Remind Guardians About Payment</a
  >
</li>
<li>
  <a href="approve-payments/" style="background-color: rgba(69, 69, 8, 0.705)"
    >Approve Verified Payments</a
  >
</li>

{% endif %} {% endblock %} {% block extrahead %}{{ block.super }}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>
<script>
      var randomColorGenerator = function () {
          return '#' + (Math.random().toString(16) + '0000000').slice(2, 8);
      };
      var options = {
          responsive:true,
          maintainAspectRatio: true,
          legend: {
              position: 'left'
          },

          animation: {
              animateScale: true,
              animateRotate: true
          }
      };
      window.onload = function () {

      var per_day_ctx = document.getElementById("per-day-chart");
          {% regroup cl.queryset|dictsort:"created_at" by created_at|date:"Y-m-d"  as objects_per_day %}

          var lineChart = new Chart( per_day_ctx , {
              type: 'bar',
              data: {
                  labels: [{% for object in objects_per_day|slice:"-7:" %}'{{ object.grouper }}',{% endfor %}],
                  datasets: [{
                      data: [{% for object in objects_per_day|slice:"-7:" %}'{{ object.list|length }}',{% endfor %}],
                      backgroundColor: [{% for object in objects_per_day|slice:":7" %}randomColorGenerator(),{% endfor %}]
                  }]
              },
              options: {...options,legend:{
                display:false
              },title: {display: true,text: 'Applications Per Day'},scales: {
      yAxes: [{
          ticks: {
              beginAtZero: true
          }
      }]
  }}
          });
          var ctx = document.getElementById("gender-chart");

         {% regroup order_by_verified by verified as gender_list %}

          var lineChart = new Chart(ctx, {
              type: 'doughnut',

              data: {
                  labels: [{% for gender in gender_list %}'{{ gender.grouper }}',{% endfor %}],
                  datasets: [{
                      data: [{% for gender in gender_list %}'{{ gender.list|length }}',{% endfor %}],
                      backgroundColor: [{% for gender in gender_list %}randomColorGenerator(),{% endfor %}]
                  }]
              },
              options:  {...options,title: {display: true,text: 'Group by Verified'}}
          });
        }
</script>
{% endblock %} {% block content %}

<div>
  <h1>Total Payment: <span>{{cl.queryset.count}}</span></h1>
</div>
<h1>Graphs</h1>
<div class="container" style="margin-bottom: 100px">
  <div class="col-sm-4">
    <canvas id="per-day-chart"></canvas>
  </div>
  <div class="col-sm-4">
    <canvas id="gender-chart"></canvas>
  </div>
</div>
<style>
  .container {
    display: flex;
    flex-direciton: row;
  }
  .container div {
    width: 33%;
  }
  @media (max-width: 1200px) {
    .container {
      flex-direction: column;
    }
    .container div {
      width: 100%;
    }
  }
</style>

{{ block.super }} {% endblock %}
