{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Google Tag Manager -->

  <!-- End Google Tag Manager -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta http-equiv="Cache-control" content="public" />
  <link rel="icon" href="/favicon.ico" />
  <meta property="og:description"
    content="আর্মি ইনস্টিটিউট অব বিজনেস অ্যাডমিনিস্ট্রেশন- আর্মি আইবিএ, একটি সামরিক স্নাতক বাণিজ্য বিদ্যালয়, বাংলাদেশ সেনাবাহিনীর তত্ত্বাবধানে সিলেটের জালালাবাদ সেনানিবাসে যাত্রা শুরু করেছিল। মর্যাদাপূর্ণ প্রতিষ্ঠানটি বাংলাদেশ সশস্ত্র বাহিনী’র প্রথম পাবলিক বিশ্ববিদ্যালয়, বাংলাদেশ ইউনিভার্সিটি অব প্রফেশনালস’র অধিভুক্ত।">
  <meta vmid='og_title' property="og:title" content="Join BAUST Khulna" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://joinarmyiba.com/" />
  <meta property="og:image" content="https://joinarmyiba.com/static/img/ARMY IBA SYLHET.webp" />
  <meta property="twitter:image" content="https://joinarmyiba.com/static/img/ARMY IBA SYLHET.webp" />
  <!-- Google Tag Manager -->
  <!-- <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-P4RWXPZ');</script> -->
  <!-- End Google Tag Manager -->
  <title>BAUST Khulna Admission</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css" />
</head>

<body>


  <div id="app"></div>

  <script src="{% static 'js/chunk-vendors.js' %}" type="text/javascript" defer></script>
  <script src="{% static 'js/app.js' %}" type="text/javascript"></script>
  <link href="{% static 'css/chunk-vendors.css' %}" rel="stylesheet" />
  <link href="{% static 'css/app.css' %}" rel="stylesheet" />
</body>

</html>